
@keyframes nav{
    from{
        top:-70px;
    }
    to{
        top:0px
    }
}
.nav-container{
    background-color: white;
    height: 60px;
    position: relative;
    top:0px;
    left:0px;
    animation-name: nav;
    animation-duration: 2s;
    border-bottom: 2px solid green;
    
}