.section{
    margin-top: 10px;
    background-color: white;
    padding: 20px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px;
}
.section-title{
    font-weight: bold;
    border-bottom: 2px solid black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.event{
    display: grid;
    padding-top: 20px;
    grid-template-columns: 100px auto;
    
    
}
.event-date{
    font-weight: bold;
    color: rgb(4, 69, 69);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.explanation{
    
}