
@keyframes anim-sidebar{

    from{
        left:200px;
        top: 200px;
    }
    to{
        top:0px;
        left:0px

    }
}
.sidebar-container{
    background-color: blue;
    width: 25%;
    height: 700px;
    padding:10px 10px;
    position: relative;
    top: 0px;
    left: 0px;
    border-radius: 10px;
    animation-name: anim-sidebar;
    animation-duration: 3s;
    box-shadow: 2px 2px;
    
}